{% extends 'base.html.twig' %}

{% block title %}Edit AccountType{% endblock %}

{% block body %}
    <h1>Edit AccountType</h1>

    {{ include('account_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_account_type_index') }}">back to list</a>

    {{ include('account_type/_delete_form.html.twig') }}
{% endblock %}
