<form method="post" action="{{ path('app_financial_profile_delete', {'id': financial_profile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ financial_profile.id) }}">
    <button class="btn">Delete</button>
</form>
