{% extends 'base.html.twig' %}

{% block title %}New CompanyDepartment{% endblock %}

{% block body %}
    <h1>Create new CompanyDepartment</h1>

    {{ include('company_department/_form.html.twig') }}

    <a href="{{ path('app_company_department_index') }}">back to list</a>
{% endblock %}
