{% extends 'base.html.twig' %}

{% block title %}New Corregimiento{% endblock %}

{% block body %}
    <h1>Create new Corregimiento</h1>

    {{ include('corregimiento/_form.html.twig') }}

    <a href="{{ path('app_corregimiento_index') }}">back to list</a>
{% endblock %}
