{% extends 'base.html.twig' %}

{% block title %}Edit PlaceWork{% endblock %}

{% block body %}
    <h1>Edit PlaceWork</h1>

    {{ include('place_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_place_work_index') }}">back to list</a>

    {{ include('place_work/_delete_form.html.twig') }}
{% endblock %}
